/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
* {
	-webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
    	 -o-transition: all .5s ease;
    		transition: all .5s ease;
}
body {
	background: #eaeaea url(../images/form-bg.jpg) top left;
	font: $body;
	color: $body-color;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
}
p {
	margin-top: 0;
}
a {
	color: $link;
	text-decoration: none;
}
a:hover, a:focus {
	color: $link-active;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
img {
	display: block;
}