/* ===========================================================================
==== INTERIOR PAGES
============================================================================== */
.main {
	margin-top: 3em;
	position: relative;
	z-index: 0;

	img, iframe {
		float: right;
		margin-left: 2em;
	}
}

/* STYLISTS
------------------------------------------------------------------------------ */
.stylists-block {
	float: left;
	background: #ddd;
	border: 1px solid #999;
	margin-top: 1em;

	.bio-short {

		h2 {
			margin-bottom: 0;
		}

		p {
			line-height: 1.62;
			margin-top: -.25em;
			margin-bottom: 0;
		}
	}
}
section.stylists {
	margin-top: 3em;

	img {
		float: left;
		margin-right: 2em;
	}

	h1 {
		font-size: 30px;
		text-transform: lowercase;
		margin-bottom: 0;
		}

	ul {
		margin-bottom: 3rem;
	}

	li {
		list-style-type: disc;
	}
}

/* SERVICES
------------------------------------------------------------------------------ */
table {
	font-size: inherit;
	margin-bottom: 2rem;

	td {
		padding: 3px 6px;

		&:nth-child(odd) {
			width: 66%;
			padding-left: 0;
		}
		&:nth-child(even) {
			width: 32%;
		}

		&.note {
			font-style: italic;
			font-size: 11px;
		}

		h2 {
			font-size: 1.25em;
			margin: 10px 0 0;
		}

		h3 {
			font-size: 1.125em;
			margin: 10px 0 0;
		}

		h4 {
			margin: 0;
		}
	}
}
.sponsors {
	margin-top: 2em;
}