/* ===========================================================================
==== MEDIA QUERIES
=========================================================================== */

/* LARGE SCREENS (DESKTOP/LAPTOP)
----------------------------------------------------------------------------*/
@media screen and (max-width: 1219px) {
	nav li {
		float: left;
		margin-right: 2.5em;
	}
	.social {
		padding-left: 1em;
	}
}

/* IPAD SPECIFICALLY
------------------------------------------------------------------------------ */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	nav li.dropdown:hover ul.stylists {
		display: none
	}
}

/* MEDIUM SCREENS (TABLETS)
----------------------------------------------------------------------------*/
@media screen and (min-width: 500px) and (max-width: 739px) {
	nav li {
		margin-right: 1em;

		a {
			font-size: 10px;
			padding-top: 1.375em;
		}

		&.dropdown ul.stylists {
			top: 22px;
		}
	}
	footer p {
		font-size: 10px;
	}
	.social {
		padding: 0;

		li {
			margin-right: .5em;
		}
	}
	.contact-wrap {
		float: right;
		width: 368px;
	}
}

/* SMALL SCREENS (PHONES)
----------------------------------------------------------------------------*/
@media screen and (max-width: 499px) {
	.gridlock .row {
		width: 96%;
	}
	header {
		z-index: 0;
	}
	.logo {
		margin-top: .5em;
	}
	nav {
		border: none;
		padding: .5em 0 0;

		li {
			float: none;
			margin: 1em 0 0;

			&:first-child {
				margin-top: 0;
			}

			&.dropdown ul.stylists {
				position: relative;
				width: 100%;
				display: block;
				top: -15px;

				li a {
					font-size: 18px;
				}
			}

		}

		a {
			font-size: 24px;
			letter-spacing: .0625em;
			padding: 0;

			&:hover, &:focus {
				background: none;
			}
		}
	}
	.home-page .nav-toggle {
		display: none;
	}
	.js .home-page .nav-collapse {
		clip: inherit;
		max-height: none;
		position: relative !important;
	}
	.hero {
		display: none;
	}
	.main iframe, .main img {
		width: 100%;
		float: none;
		margin: 0 0 1em 0;
	}
	.stylists-block {
		width: 100%;

		.bio-short p {
			margin-bottom: 1em;
		}
	}
	section.stylists img {
		width: 100%;
		margin-right: 0;
		margin-bottom: 2em;
	}
	footer {
		text-align: center;
		font-size: 10px;
	}
	.gridlock .row footer .social {
		float: none;
		display: inline-block;
		margin-bottom: 1em;
	}
	.gridlock .row footer .contact-wrap .address, .gridlock .row footer .phone {
		width: 100%;
	}
	.gridlock .row footer .phone {
		float: none;
	}
}