/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
* {
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

body {
  background: #eaeaea url(../images/form-bg.jpg) top left;
  font: 13px/2 "Domine", serif;
  color: #000;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  color: #007f9f;
  line-height: 1.25;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
}

a {
  color: #555454;
  text-decoration: none;
}

a:hover, a:focus {
  color: #0980a1;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
}

/* ===========================================================================
==== HEADER
============================================================================== */
header {
  width: 100%;
  position: relative;
  z-index: 20;
}

.logo {
  margin: 2em 0 1em;
}
.logo img {
  margin: 0 auto;
}

nav {
  width: 100%;
  text-align: center;
  line-height: 0;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  position: relative;
}
nav ul {
  display: inline-block;
}
nav li {
  float: left;
  padding: 1em 0;
  margin-right: 4.5em;
  position: relative;
}
nav li:last-child {
  margin-right: 0;
}
nav li.dropdown ul.stylists {
  display: none;
  background: #31373B;
  width: 200px;
  overflow: hidden;
  padding: 10px 10px 5px;
  margin-top: 19px;
  position: absolute;
  left: 0;
  top: 25px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
nav li.dropdown ul.stylists li {
  margin: 0;
  padding: .5em 0;
}
nav li.dropdown ul.stylists li a {
  color: #858386;
  padding: 0;
}
nav li.dropdown ul.stylists li a:hover {
  background: none;
  color: #F3F3F3;
}
nav li.dropdown:hover ul.stylists, nav li.dropdown:focus ul.stylists {
  display: block;
}
nav a {
  font: 12px "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: .25em;
  transition-property: none;
  padding-top: 1.125em;
}
nav a:hover, nav a:focus {
  background: url(../images/active-arrow.png) top center no-repeat;
}

.active-page {
  color: #0980a1;
}

/* ===========================================================================
==== HOMEPAGE
============================================================================== */
.main.home {
  margin-top: 0;
}

img.hero {
  width: 100%;
}

footer a[href^="tel:"] {
  color: #7f8181;
  display: initial;
}

/* ===========================================================================
==== INTERIOR PAGES
============================================================================== */
.main {
  margin-top: 3em;
  position: relative;
  z-index: 0;
}
.main img, .main iframe {
  float: right;
  margin-left: 2em;
}

/* STYLISTS
------------------------------------------------------------------------------ */
.stylists-block {
  float: left;
  background: #ddd;
  border: 1px solid #999;
  margin-top: 1em;
}
.stylists-block .bio-short h2 {
  margin-bottom: 0;
}
.stylists-block .bio-short p {
  line-height: 1.62;
  margin-top: -.25em;
  margin-bottom: 0;
}

section.stylists {
  margin-top: 3em;
}
section.stylists img {
  float: left;
  margin-right: 2em;
}
section.stylists h1 {
  font-size: 30px;
  text-transform: lowercase;
  margin-bottom: 0;
}
section.stylists ul {
  margin-bottom: 3rem;
}
section.stylists li {
  list-style-type: disc;
}

/* SERVICES
------------------------------------------------------------------------------ */
table {
  font-size: inherit;
  margin-bottom: 2rem;
}
table td {
  padding: 3px 6px;
}
table td:nth-child(odd) {
  width: 66%;
  padding-left: 0;
}
table td:nth-child(even) {
  width: 32%;
}
table td.note {
  font-style: italic;
  font-size: 11px;
}
table td h2 {
  font-size: 1.25em;
  margin: 10px 0 0;
}
table td h3 {
  font-size: 1.125em;
  margin: 10px 0 0;
}
table td h4 {
  margin: 0;
}

.sponsors {
  margin-top: 2em;
}

/* ===========================================================================
==== FOOTER
============================================================================== */
footer {
  width: 100%;
  font: 12px "Open Sans", sans-serif;
  color: #7f8181;
  text-transform: uppercase;
  letter-spacing: .0625em;
  margin: 1.5em 0;
}
footer a {
  background-image: url(../images/social-icons.svg);
  background-size: 355%;
  background-repeat: none;
  display: block;
  width: 20px;
  height: 20px;
  transition-property: none;
}
footer a.fb {
  background-position: 0 0;
}
footer a.fb:hover, footer a.fb:focus {
  background-position: 0 20px;
}
footer a.inst {
  background-position: 47px 0;
}
footer a.inst:hover, footer a.inst:focus {
  background-position: 47px 20px;
}
footer a.twit {
  background-position: 20px 0;
}
footer a.twit:hover, footer a.twit:focus {
  background-position: 20px 20px;
}

.social {
  padding-left: 3em;
}
.social li {
  float: left;
  margin-right: 1em;
}
.social li:last-child {
  margin: 0;
}

.contact-wrap .phone a {
  background-image: none;
}

/* ===========================================================================
==== MEDIA QUERIES
=========================================================================== */
/* LARGE SCREENS (DESKTOP/LAPTOP)
----------------------------------------------------------------------------*/
@media screen and (max-width: 1219px) {
  nav li {
    float: left;
    margin-right: 2.5em;
  }

  .social {
    padding-left: 1em;
  }
}
/* IPAD SPECIFICALLY
------------------------------------------------------------------------------ */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  nav li.dropdown:hover ul.stylists {
    display: none;
  }
}
/* MEDIUM SCREENS (TABLETS)
----------------------------------------------------------------------------*/
@media screen and (min-width: 500px) and (max-width: 739px) {
  nav li {
    margin-right: 1em;
  }
  nav li a {
    font-size: 10px;
    padding-top: 1.375em;
  }
  nav li.dropdown ul.stylists {
    top: 22px;
  }

  footer p {
    font-size: 10px;
  }

  .social {
    padding: 0;
  }
  .social li {
    margin-right: .5em;
  }

  .contact-wrap {
    float: right;
    width: 368px;
  }
}
/* SMALL SCREENS (PHONES)
----------------------------------------------------------------------------*/
@media screen and (max-width: 499px) {
  .gridlock .row {
    width: 96%;
  }

  header {
    z-index: 0;
  }

  .logo {
    margin-top: .5em;
  }

  nav {
    border: none;
    padding: .5em 0 0;
  }
  nav li {
    float: none;
    margin: 1em 0 0;
  }
  nav li:first-child {
    margin-top: 0;
  }
  nav li.dropdown ul.stylists {
    position: relative;
    width: 100%;
    display: block;
    top: -15px;
  }
  nav li.dropdown ul.stylists li a {
    font-size: 18px;
  }
  nav a {
    font-size: 24px;
    letter-spacing: .0625em;
    padding: 0;
  }
  nav a:hover, nav a:focus {
    background: none;
  }

  .home-page .nav-toggle {
    display: none;
  }

  .js .home-page .nav-collapse {
    clip: inherit;
    max-height: none;
    position: relative !important;
  }

  .hero {
    display: none;
  }

  .main iframe, .main img {
    width: 100%;
    float: none;
    margin: 0 0 1em 0;
  }

  .stylists-block {
    width: 100%;
  }
  .stylists-block .bio-short p {
    margin-bottom: 1em;
  }

  section.stylists img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2em;
  }

  footer {
    text-align: center;
    font-size: 10px;
  }

  .gridlock .row footer .social {
    float: none;
    display: inline-block;
    margin-bottom: 1em;
  }

  .gridlock .row footer .contact-wrap .address, .gridlock .row footer .phone {
    width: 100%;
  }

  .gridlock .row footer .phone {
    float: none;
  }
}

/*# sourceMappingURL=main.css.map */
